# App directories
docs/
logs/
volumes/
public/_tmp/*
public/drive/*

# Cache
cache/

# Dependency directories
.idea/
nbproject/
vendor/

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# dotenv environment variables file
.env
.env.test
.env.local
.env.development.local
.env.test.local
.env.production.local

# Lock files
composer.lock

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

### VisualStudioCode ###
.vscode/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history